<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.dome.mapper.UserMapper">

    <resultMap type="com.site.dome.entity.User" id="UserMap">
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="sex" column="sex" jdbcType="VARCHAR"/>
        <result property="describes" column="describes" jdbcType="VARCHAR"/>
    </resultMap>


</mapper>